body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section input,
.section textarea {
  font-family: "Raleway", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.title h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.title ::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #c7232c;
  margin-top: 5px;
}
.container {
  width: 1270px;
  margin: 0 auto;
}

.button_down a {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%);
}
.button_down a:hover span {
  margin-bottom: 25px;
}
.button_down span {
  font-weight: 700;
  display: block;
  transition: margin 0.35s;
  margin: 15px;
}
.button {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.button::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #000;
  transition: width 0.4s;
}

.button:hover::after {
  width: 100%;
  float: right;
}

.section {
  padding: 50px;
  position: relative;
}
.section-bg .container {
  padding: 0;
  position: relative;
  height: 100%;
}
.section-bg {
  /* background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  background: url("../images/bg.jpg") no-repeat center/cover;
  height: 900px;
  z-index: 9;
  padding: 0;
}

.section .header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  position: relative;
}

.section .header .search form {
  display: flex;
}

.section .header .search input[type="search"] {
  width: 340px;
  height: 27px;
  background-color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  color: #d8d8d8;
  font-size: 12px;
  font-weight: 500;
  text-indent: 20px;
}

.section .header_block {
  width: 45%;
}
.section .header_block.logo {
  width: 10%;
}

.section .header .search input[type="submit"] {
  background: url("../images/icons/search.svg") #000 no-repeat center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.logo a {
  display: block;
  text-align: center;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.menu ul li {
  margin-left: 25px;
}

.menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.menu ul li a:hover {
  color: #c7232c;
  transition: color 0.35s;
}

.section .section_title {
  margin-top: 140px;
}

.section .section_title h1 {
  font-size: 4.2vw;
  font-weight: 700;
  max-width: 690px;
}
.section_cards {
  position: absolute;
  top: 200px;
  right: 0px;
}

.section_cards .section_cards_item {
  width: 350px;
  height: 340px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.section_cards .section_cards_item .img-wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  text-align: center;
}
.section_cards .section_cards_item .img-wrapper:hover img {
  transform: scale(1.2);
  transition: transform 0.25s;
}

.section_cards .section_cards_item .item_content {
  padding: 14px;
}

.section_cards .section_cards_item .item_content .item_content__title {
  font-size: 18px;
  font-weight: 700;
}

.section_cards .section_cards_item .item_content .item_content__title::before {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #e82934;
  margin-top: 5px;
}

.section_cards .section_cards_item .item_content .item_content__date {
  font-size: 12px;
  font-weight: 500;
  color: #8a8a8a;
  margin-top: 9px;
}
.section_cards .section_cards_item .item_content p {
  margin-top: 15px;
  color: #000;
  font-size: 14px;
  line-height: 126%;
}

.section_cards .section_cards_item .item_content .button {
  display: block;
  float: right;
}

/* Section news */
.section-news .news_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.section-news .news_list .news_list__item {
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.section-news .news_list .news_list__item img {
  width: 100%;
}

.section-news .news_list .news_list__item .news_title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  visibility: hidden;
  transform: translateY(45px);
  transition: transform 0.3s;
}
.section-news .news_list .news_list__item:hover .news_title {
  transform: translateY(0px);
  visibility: visible;
}
.section-news .news_list .news_list__item .news_title h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

/* Section About */
.information_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.information_list .information_list__item {
  width: 20%;
  margin: 5px 0;
}

.information_list .information_list__item h3 {
  color: #000;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
}
.information_list .information_list__item:first-child h3 {
  background: url(../images/icons/phone.svg) no-repeat 0 center/contain;
}

.information_list .information_list__item:nth-child(2) h3 {
  background: url(../images/icons/design.svg) no-repeat 0 center/contain;
}
.information_list .information_list__item:nth-child(3) h3 {
  background: url(../images/icons/about.svg) no-repeat 0 center/contain;
}
.information_list .information_list__item:nth-child(4) h3 {
  background: url(../images/icons/government.svg) no-repeat 0 center/contain;
}

.information_list .information_list__item p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-top: 15px;
}

/* App Section */
.app_list {
  margin-top: 35px;
}
.app_list .app_list__item:nth-child(2n) .item_content {
  order: -1;
  padding-left: 0;
}
.app_list .app_list__item {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.app_list .app_list__item .img_wrapper {
  width: 50%;
}

.app_list .app_list__item .item_content {
  width: 50%;
  padding: 0 30px;
}
.app_list .app_list__item .item_content h3 {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.app_list .app_list__item .item_content p {
  line-height: 24px;
  font-weight: 500;
  color: #000;
  margin: 25px 0;
}

.button_red {
  background-color: #e82934;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 45px;
  transition: background 0.35s;
}

.button_red:hover {
  background-color: #9b292f;
}

/* Intro Section */
.section-intro {
  height: 380px;
  z-index: 2;
}
.wrapper_content {
  width: 885px;
  margin: 45px auto 0 auto;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper_content .content_text {
  padding: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: url("../images/icons/fire.svg") 100% bottom/auto no-repeat;
}

.wrapper_content .content_text p {
  color: #000;
  font-weight: 500;
  line-height: 28px;
}

.wrapper_content .content_text span {
  display: block;
  font-weight: 700;
  font-style: italic;
}

/*Footer */
.section-footer {
  background-color: #2c2c2c;
  z-index: 1;
  padding-top: 330px;
}
.menu-footer {
  display: flex;
  justify-content: space-between;

  width: 885px;
  margin: 20px auto;
}
.menu-footer ul {
  width: 28%;
}

.menu-footer ul li {
  margin: 25px 0;
}
.menu-footer ul li a {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.35s;
}

.menu-footer ul li a:hover {
  color: #e82934;
}
.menu_bottom {
  margin-top: 70px;
}
.menu_bottom ul {
  display: flex;
  justify-content: center;
}
.menu_bottom ul li {
  margin: 0 10px;
}

.menu_bottom ul li a {
  font-size: 13px;
  font-weight: 500;
  color: #c8c8c8;
}

.header_block__hamburger {
  width: 45px;
  height: 45px;
  display: none;
  margin-left: auto;
  padding-top: 20px;
}
.header_block__hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: transform 0.3s;
}

.header_block__hamburger span::after,
.header_block__hamburger span::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 6px;
}
.header_block__hamburger span::after {
  top: 12px;
}
